/* styles.css */
body {
    background-color: rgb(231, 225, 214);
  }

  a.hover {
    color: #ff0000;
  }

.box {
    border: 10px ridge #ccc; /* Change #ccc to any color you prefer */
    padding: 10px; /* Optional: Add some padding inside the border */
    margin: 10px;  /* Optional: Add some margin outside the border */
    border-color: #f00;
    background-color: #ff0;
    display: flex;
    font-weight: bold;
    text-align: center;
    margin: top 20px;
    margin: bottom 20px;
    flex-direction: column;
    justify-content: center;;
}

.attraction-box{
    border: 2px dotted #483d8B;
    border-radius: 10px;
    padding: 15px;
    margin: 20px;
    color:green;
}

.attraction-box h2 {
   text-align: center;
}

.attraction-box h2 strong {
    font-style:italic;
}

#description p::first-letter {
    font-size: 2rem;
}

#description p {
    font-size: 1rem;
    line-height:1.7;
    margin: 20px 0;

}

ol {
    list-style-type: decimal; /* Default list style, you can use 'upper-alpha', 'lower-alpha', 'decimal-leading-zero', etc. */
    padding-left: 20px; /* Space between the list marker and the text */
    font-family: Arial, sans-serif; /* Font family for the list */
    font-size: 18px; /* Font size of the list items */
    color: #333; /* Text color */
}

.attraction {
    font-size: 20px;
    color: #ff0000;
}






